.card {
    padding: 1em;
    background-color: rgb(200, 255, 246);
    border-style: solid;
    margin: 2em;
    width: fit-content;
    border-radius: 1em;
}

.text{
    color: black;
}

.img{
    height: 15em;
}