.card {
    padding: 1em;
    margin: 1em;
    width: fit-content;
    border-radius: 10px;
}

.img{
    height: 10em;
}

.question{
    font-style: italic;
    
}

.pastEventCard{
    background-color: rgb(232, 239, 238);
    border: dotted;
    border-color: #e7a1de;
    
    border-radius: 0px;
    width: 15em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic
}

.eventName{
    text-align: left;
}

.QA, .workshopCard{
    border: dotted;
    border-color: #e7a1de;
    color: rgb(232, 239, 238);
}

.QA{
    padding-top: 0;
    padding-bottom: 0;
    max-width: 50em;
}

.workshopCard{
    max-width: 50em;
}

.QA{
    margin-top: 2em;
}