.card {
    padding: 1em;
    margin: 2em;
    width: fit-content;
}

.img{
    height: 15em;
}

.question{
    font-style: italic;
}

.pastEventCard{
    background-color: rgb(232, 239, 238);
    border: dotted;
    border-color: rgb(0, 255, 221);
}

.QA, .workshopCard{
    border: dotted;
    border-color: rgb(0, 255, 221);
    color: rgb(232, 239, 238);
}

.QA{
    padding-top: 0;
    padding-bottom: 0;
}

.workshopCard{
    width: 50em;
}

/* .workshopCards, .pastEventCards{
    max-width: 60em;
    display: flex;
    align-items: center;
} */