.workshopImg {
    height: 5em;
}

.workshopCard{
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.workshopCards{
    display: flex;
    justify-content: center;
}

.workshopContent{
    display: flex;
    color: rgb(232, 239, 238);
}

#workshopContent{
    text-align: left;
}